Sources/Diesis/Generated/** linguist-generated=true
Sources/Diesis/Addresses.swift linguist-generated=true
Sources/Diesis/Chains+Generated.swift linguist-generated=true
Sources/Diesis/Contracts+Generated.swift linguist-generated=true
